<!DOCTYPE html>
<html>
<head>
  <title> Linux Patch Report </title>
</head>
<body>
<center>
<h1>Ansible Linux Patching Report</h1>
</center>
<table border = "1" cellpadding = "5" cellspacing = "5">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>Operating System Version</th>
            <th>Required Updates</th>
        </tr>
    </thead>
    <tbody>
{% for linux_host in groups['tag_RHEL']|sort %}
        <tr>
            <td>{{hostvars[linux_host]['inventory_hostname']}}</td>
            <td>{{hostvars[linux_host]['ansible_os_family']|default("none")}}</td>
            <td>{{hostvars[linux_host]['ansible_distribution_version']|default("none")}}</td>
            <td>
              <ul>
{% if hostvars[linux_host].patchingresult.changed == true %}
{% for packagename in hostvars[linux_host].patchingresult.changes.updated|sort %}
        <li> {{ packagename[0] }} - {{ packagename[1] }} </li>
{% endfor %}
{% elif hostvars[linux_host].patchingresultdnf.changed == true %}
{% for packagename in hostvars[linux_host].patchingresultdnf.changes.updated|sort %}
        <li> {{ packagename[0] }} - {{ packagename[1] }} </li>
{% endfor %}
{% else %}
        <li> Compliant </li>
{% endif %}
              </ul>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% for host in ansible_play_hosts %}
<center><p>Created with Ansible on {{hostvars[host].ansible_date_time.iso8601}}</p></center>
{% endfor %}
</body>
</html>