include README.md
include .gitignore
include *.yml
include .config/ansible-lint.yml
include .github/workflows/ansible-lint.yml
include *.code-workspace
recursive-exclude .git *
recursive-include collections *.yml
recursive-include roles *
recursive-include SNOW *
