include README.md
include .gitignore
include *.yml
include .vscode/extensions.json
include devfile.yaml
include *.code-workspace
recursive-exclude .git *
recursive-include collections *.yml
recursive-include roles *
recursive-include SNOW *
