p.hostname {
    color: #000000;
    font-weight: bolder;
    font-size: large;
    margin: auto;
    width: 50%;
  }

  #subtable {
    background: #ebebeb;
    margin: 0px;
    width: 100%;
  }

  #subtable tbody tr td {
    padding: 5px 5px 5px 5px;
  }

  #subtable thead th {
    padding: 5px;
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica", sans-serif;
  }

  a {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
  h1 {
    text-align: center;
    color: #ffffff;
  }

  body {
    background:#353a40;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  table {
    border-collapse: separate;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .main_net_table {
    margin:50px auto;
  }

  thead {
    @include border-radius(5px);
  }

  thead th {
    font-size:16px;
    font-weight:400;
    color:#fff;
    @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
    text-align:left;
    padding:20px;
    border-top:1px solid #858d99;
    background: #353a40;

    &:first-child {
     @include border-top-left-radius(5px);
    }

    &:last-child {
      @include border-top-right-radius(5px);
    }
  }

  tbody tr td {
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;

  }

  tbody tr:nth-child(2n) {
    background:#f0f3f5;
  }

  tbody tr:last-child td {
    border-bottom:none;
    &:first-child {
      @include border-bottom-left-radius(5px);
    }
    &:last-child {
      @include border-bottom-right-radius(5px);
    }
  }

  td {
    vertical-align: top;
  }

  span.highlight {
      background-color: yellow;
  }

  .expandclass {
    color: #5f6062;
  }

  .content{
           display:none;
           margin: 10px;
  }

  header {
    width: 100%;
    position: initial;
    float: initial;
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 88px;
    background-color: #171717;
  }

  .header-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    padding: 0;
    float: initial;
    display: flex;
    align-items: center;
  }

  .header-logo {
    width: 137px;
    border: 0;
    margin: 0;
    margin-left: 15px;
  }

  .header-link {
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Red Hat Text';
    font-weight: 500;
  }

  .header-link:hover {
    text-shadow: 0 0 0.02px white;
    text-decoration: none;
  }

  table.net_info td {
      padding: 5px;
  }

  p.expandclass:hover {
      text-decoration: underline;
      color: #EE0000;
      cursor: pointer;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
      border: 1px solid #5F0000;
      background: #EE0000;
  }

  div#net_content {
      padding: 0px;
      height: auto !important;
  }

  img.router_image {
      vertical-align: middle;
      padding: 0px 10px 10px 10px;
  }

  table.net_info {
      width: 100%;
  }

  p.internal_label {
      color: #000000;
  }

  p.description {
      color: #5f6062;
  }

  th.region_column {
      min-width: 990px;
  }

  th.vpc_info {
      color: #ffffff;
      background-color: #000000;
      height: 30px;
      min-width: 80px;
  }

  th.instance_info {
    color: #ffffff;
    background-color: #000000;
    height: 30px;
    min-width: 80px;
  }

  #cidr_assoc {
      min-width: 155px;
  }

  .instances_highlight {
      /* display: inline-block; */
  }

  .instances_running {
    display: inline-block;
    color: #358a46;
  }

  .instances_stopped {
    display: inline-block;
    color: #000000;
  }

  .no_nodes {
    display: inline-block;
    color: #000000;
  }

  .ui-state-active .no_nodes {
    color: #ffffff;
  }

  #region_title {
      display: inline-block;
      padding-right:10px;
  }

  .ui-state-active .instances_running {
    color: #ffffff;
  }

  .ui-state-active .instances_stopped {
    color: #ffffff;
  }

  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png") !important;
  }

  p.opportunities {
    color: #5f0000;
    padding: 0px 10px 0px 0px;
    margin-top: 5px;
  }

  .opportunities_box {
    background-color: #e6e6e6;
    padding: 1px 5px 5px 5px;
    width: fit-content;
    margin-bottom: 10px;
  }

  div#instance_breakdown {
    color: #000000;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
  }

  hr.sean_line {
    margin: 10px 0px 10px 0px;
  }

  table.instance_info td {
    padding: 5px;
  }

  ul {
    margin: 0;
    padding: 0px 0px 0px 20px;
  }

  p.violation {
    color: #000000;
  }

  class#severity_button {
    background-color: #f5921b;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }

  code.sean_box {
    font-family: monospace !important;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
  }

  class#firewalld_severity
  {
    background-color: #ee0000;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }

  class#motd_severity
  {
    background-color: #0066cc;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }

  class#selinux_severity
  {
    background-color: #ee0000;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }

  class#compliant_button
  {
    background-color: #32a800;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }

  p.compliant {
    color: #5f6062;
  }

  .fas {
    padding: 5px;
  }

  div#job_time {
    float: right;
    display: flex;
    width: 450px;
  }

  div#time_saved_value {
    width: 300px;
  }

  div#no_automation {
    float: right;
    background-color: #ee0000;
  }

  p.highlight_title {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 16px;
    color: #fff4cc;
  }

  p.description_text {
    margin: 0px;
    padding: 0 5px 5px 5px;
  }

  p.table_title {
    color: #000000;
  }

  table.net_info.manual_var_table {
    width: 50%;
  }

  table.net_info.main_attraction {
    background-color: #ffffff;
    box-shadow: 0 0 0;
  }

  table.main_attraction p.highlight_title {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #000000;
  }

  table.main_attraction p.highlight_value {
    font-size: 80px;
    padding: 0px;
    margin: 0px;
    color: #000000;
  }

  table.net_info.inventory_info {
    width: 50%;
  }

  table.net_info.main_attraction tr {
    background-color: #ffffff;
  }

  th.vpc_info.title_main_attraction {
    background-color: #ffffff;
    min-width:300px;
  }

  div#hostname {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .engineer_partial {
    position: relative;
    height: 96.97px;
    width: 50px;
    background-image: url(../engineer_background.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .engineer {
    position: relative;
    height: 96.97px;
    width: 50px;
  }

  .engineer_container {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
  }

  .engineer_legend {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  .engineer_text {
    align-self: center;
  }

  img.small_engineer {
    width: 30px !important;
    align-self: center;
  }

  .legend_text {
    align-self: center;
  }

  .amount_engineer {
    align-self: center;
  }

  .small_description_engineer {
    align-self: center;
    font-size: 10px;
  }

  .bar-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
  }

  .bar {
      width: 100%%;
      background-color: #4CAF50;
      text-align: center;
      color: white;
      font-size: 12px;
  }

  .bar.automate {
    background-color: #ff0000;
  }

  .bar_manual_column {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-right: 20px;
  }

  .bar_automate_column {
    width: 160px;
    flex-direction: column;
    display: flex;
  }

  .manual_description {
    align-self: center;
  }

  .automate_description {
    align-self: center;
  }
