<!DOCTYPE html>
<html>
<head>
  <title> Ansible Windows Report </title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.expandclass');   // Click selector
  $click.click(function () {
    $clicked = $(this);
    $expand = $(this).parent('.expand').next();  // Expand and collapse content selector
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of expand based on visibility of content div
        });
    });
});
</script>
</head>
<body>
<center>
<h1>Ansible Windows Report</h1>
</center>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>Operating System Version</th>
        </tr>
    </thead>
    <tbody>
{% for windows_host in groups['tag_Windows']|dictsort %}
        <tr>
            <td><p class="hostname">{{hostvars[windows_host]['inventory_hostname']}}</p>
<!–– INTERNAL TABLE FOR PACKAGES --!>
<div class="expand">
  <p class="expandclass">>Package Facts - Click to see details</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Package Name</th>
            <th>Version</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[windows_host]['packages'] is defined %}
{% for package in hostvars[windows_host]['packages']|dictsort %}
        <tr>
            <td>{{package['name']}}</td>
            <td>{{package['version']}}</td>
            <td>{{package['publisher']}}</td>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
<!–– END INTERNAL TABLE FOR PACKAGES --!>
<!–– INTERNAL TABLE FOR SERVICES --!>
<div class="expand">
  <p class="expandclass">>Services Facts - Click to see details</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Display Name</th>
            <th>Windows Services Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[windows_host]['services'] is defined %}
{% for service in hostvars[windows_host]['services']|dictsort %}
        <tr>
            <td>{{service['name']}}</td>
            <td>{{service['win_svc_name']}}</td>
            <td>{{service['state']}}</td>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
 <!–– END INTERNAL TABLE FOR SERVICES --!>
            </td>
            <td>{{hostvars[windows_host]['ansible_os_family']|default("none")}}</td>
            <td>{{hostvars[windows_host]['ansible_distribution']|default("none")}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<center><p>Created with</p><br><img src="webpage_logo.png" width="300">
</center>
</body>
</html>