<!DOCTYPE html>
<html>
    <head>
        <title>Basic Web Page</title>
    </head>
    <body>
      <p> Hello! Here is my basic web page! This was created from {{ ansible_distribution }} {{ ansible_distribution_version }}. </p>
      <p> This was created at {{ansible_date_time.iso8601}} </p>
    </body>
</html>
