<!DOCTYPE html>
<html>
<head>
  <title> Windows Patch Report </title>
</head>
<body>
<center>
<h1>Ansible Windows Patching Report</h1>
</center>
<table border = "1" cellpadding = "5" cellspacing = "5">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>Required Updates</th>
        </tr>
    </thead>
    <tbody>
{% for windows_host in groups['tag_Windows']|sort %}
        <tr>
            <td>{{hostvars[windows_host]['inventory_hostname']}}</td>
            <td>{{hostvars[windows_host]['ansible_distribution']|default("none")}}</td>
            <td>
              <ul>

{% if hostvars[windows_host].patchresult.updates is defined and hostvars[windows_host].patchresult.found_update_count|int > 0  %}
{% for update in hostvars[windows_host].patchresult.updates %}
{% set updatenum = hostvars[windows_host].patchresult.updates[update] %}
            <li>{{updatenum.title}}</li>
{% endfor %}
{% else %}
            <li>Compliant</li>
{% endif %}
            </ul>
            </td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% for host in ansible_play_hosts %}
<center><p>Created with Ansible on {{hostvars[host].ansible_date_time.iso8601}}</p></center>
{% endfor %}
</body>
</html>