<!DOCTYPE html>
<html>
<head>
  <title>Cloud AWS Automation Report</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/aws.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
$( "#accordion > div" ).accordion({
    header: "h3",
    active: false,
collapsible: true
});
});
</script>
</head>
<body>
    <div class="wrapper">
    <header>
      <div class="header-container">
        <a href="https://ansible.com">
          <img
            class="header-logo"
            src="redhat-ansible-logo.svg"
            title="Red Hat Ansible"
            alt="Red Hat Ansible"
          />
        </a>
      </div>
    </header>
<section>
<center>
<h1>Cloud AWS Automation Report</h1>
</center>
<table class="main_net_table">
    <thead>
        <tr>
            <th>Public Cloud</th>
            <th class="region_column">Region</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="summary_info">
              <div id="hostname">
              <img class="router_image" src="aws.png" alt="picture of cloud">
              <br><p class="hostname">AWS</p>
            </div>
              <div id="net_info_div">
              <table class="net_info">
              <tbody>
                <tr>
                  <td>Boto3 Version</td>
                  <td class="sub_net_info">{{ boto3_version | default ('unknown')}}</td>
                </tr>
                <tr>
                  <td>AWS user</td>
                  <td class="sub_net_info">{{ aws_user | default('unknown') }}</td>
                </tr>
                <tr>
                  <td>Account ID</td>
                  <td class="sub_net_info">{{ whoami.account | default('unknown') }}</td>
                </tr>
                <tr>
                  <td>Account Alias</td>
                  <td class="sub_net_info">{{ whoami.account_alias | default ('unknown')}}</td>
                </tr>
              </tbody>
              </table>


            <!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
<div>
<h3>Ansible Automation Info</h3>
<div class="net_content">
<table class="net_info">
<tbody>
  <tr>
    <td>Ansible core version</td>
    <td class="sub_net_info">{{ ansible_version.full }}</td>
  </tr>
  <tr>
    <td>Ansible Python</td>
    <td class="sub_net_info">{{ ansible_python_version | default('unknown')}}</td>
  </tr>
  <tr>
    <td>Host OS</td>
    <td class="sub_net_info">{{ ansible_distribution | default ("unknown distribution")}} {{ ansible_distribution_version | default ("unknown distro version") }}</td>
  </tr>
</tbody>
</table>
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
          </div>



            </td>

            <td>
            <!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
{% for ec2_region in all_ec2_regions %}
{% for key, value in ec2_region.items() %}
{% set running = value.ec2_instance_info.instances | selectattr('state.name', 'equalto', "running") | length %}
{% set stopped = value.ec2_instance_info.instances | selectattr('state.name', 'equalto', "stopped") | length %}
{% set total = value.ec2_instance_info.instances | length %}
<div>
<h3><div id="region_title">{{ key | default('unknown') }}</div><div class="instances_highlight">{% if total > 0 %}{% if running > 0 %}<div class="instances_running">{% endif %}<span class="ui-accordion-header-icon ui-icon ui-icon-power"></span>{{ running }} instances running{% if running > 0 %}</div>{% endif %}<div class="instances_stopped"><span class="ui-accordion-header-icon ui-icon ui-icon-stop"></span>{{ stopped }} stopped ({{ total }} total)</div>{% endif %}</div></h3>
<div class="net_content">
<p class="description">There are <strong>{{ value.vpc_info.vpcs | length }}</strong> AWS VPCs configured and <strong>{{ total }}</strong> instances on region {{ key | default('unknown') }}</p>
{% set nsvpc = namespace(total_empty_vpc = 0) %}
{% for vpc in value.vpc_info.vpcs %}
{% set instances_with_vpc = value.ec2_instance_info.instances | selectattr('vpc_id', 'defined') %}
{% if instances_with_vpc | selectattr('vpc_id', 'equalto', vpc.id ) | length <= 0 %}
{% set nsvpc.total_empty_vpc = nsvpc.total_empty_vpc + 1 %} 
{% endif %}
{% endfor %}
{% if nsvpc.total_empty_vpc > 0 %}
<div class="opportunities_box">
<p class="opportunities">Optimization Opportunities</p> 
<div class="empty_vpc"><span class="ui-accordion-header-icon ui-icon ui-icon-info"></span>{{ nsvpc.total_empty_vpc }} empty VPCs</div>
</div>
{% endif %}

<table class="net_info">
<tbody>
  <tr>
    <th class="vpc_info">VPC name</th>
    <th class="vpc_info">VPC id</th>
    <th class="vpc_info">instances <br> running</th>
    <th class="vpc_info">instances <br> stopped</th>
    <th class="vpc_info">CIDR block</th>
    <th class="vpc_info" id="cidr_assoc">CIDR block<br> associations</th>
    <th class="vpc_info">IGW</th>
  </tr>
  {% for vpc in value.vpc_info.vpcs %}
  <tr>
  <td>{{ vpc.tags['Name'] | default('<span class="ui-accordion-header-icon ui-icon ui-icon-circle-close"></span>no name tag') }}</td>
  <td>{{ vpc.id }}</td>
  {% set instances_with_vpc = value.ec2_instance_info.instances | selectattr('vpc_id', 'defined') %}
  <td style="text-align: center;">{{ instances_with_vpc | selectattr('vpc_id', 'equalto', vpc.id ) | selectattr('state.name', 'equalto', "running") | length }}</td>
  <td style="text-align: center;">{{ instances_with_vpc | selectattr('vpc_id', 'equalto', vpc.id ) | selectattr('state.name', 'equalto', "stopped") | length }}</td>
  <td>{{ vpc.cidr_block }}</td>
  <td style="text-align:center;">{{ vpc.cidr_block_association_set | length | default('0') }}</td>
  {% set ns = namespace(igwfound=False) %}
  {% for igw in value.igw_info.internet_gateways %}
  {% if igw['attachments'] | length > 0 %}
  {% if igw['attachments'][0]['vpc_id'] is defined %}
  {% if igw['attachments'][0]['vpc_id'] == vpc.id %}
  <td>{{ igw['internet_gateway_id'] }}</td>
  {% set ns.igwfound = True %}
  {% endif %}
  {% endif %}
  {% endif %}
  {%- endfor -%}
  {% if not ns.igwfound %}
  <td>No IGW found</td>
  {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
</div>
{% endfor %}
{% endfor %}
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
            </td>
        </tr>

    </tbody>
</table>
<center><p>Created with</p><br><img src="webpage_logo.png" width="300" alt="red hat ansible automation platform logo">
</center>
</section>
</div>
</body>
</html>