---
- name: Ensure Apache is installed
  ansible.builtin.dnf:
    name: httpd
    state: present

- name: Ensure Apache is started
  ansible.builtin.service:
    name: httpd
    state: started

- name: Create HTML report if jinja include works
  ansible.builtin.template:
    src: report.j2
    dest: "{{ file_path }}/aaproi.html"
    owner: root
    group: root
    mode: '0644'
  when: not usesingletemplate

- name: Create HTML report if jinja include doesn't work
  ansible.builtin.template:
    src: fullreport.j2
    dest: "{{ file_path }}/aaproi.html"
    owner: root
    group: root
    mode: '0644'
  when: usesingletemplate

- name: Copy CSS over
  ansible.builtin.copy:
    src: "css"
    dest: "{{ file_path }}"
    directory_mode: true
    owner: root
    group: root
    mode: '0644'

- name: Copy logos over
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ file_path }}"
    directory_mode: true
    owner: root
    group: root
    mode: '0644'
  loop:
    - "webpage_logo.png"
    - "redhat-ansible-logo.svg"
    - "aap_icon.png"
    - "engineer_background.png"
    - "engineer_icon.png"

- name: Display link to inventory report
  ansible.builtin.debug:
    msg: "Please go to http://{{ ansible_host }}/aaproi.html"
