<!DOCTYPE html>
<html>
<head>
  <title> Certificate Report </title>
</head>
<body>
<center>
<h1>Certificate Report</h1>
<style>
@media print {
   .noprint {
        display: none !important;
    }
}
</style>
<div class="noprint">
<button type="button" onclick="tableToCSV()">Download CSV</button>
<input type="button" value="Print" onClick="window.print()">
</div>
</center>
<table border = "1" cellpadding = "5" cellspacing = "5" margin-left = "auto" margin-right = "auto" >
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>Operating System Version</th>
            <th>Certificate Issuer</th>
            <th>Certificate Expiration Date</th>
            <th>Certificate Days until Expiration</th>
        </tr>
    </thead>
    <tbody>
{% for host in ansible_play_hosts|sort %}
{% if hostvars[host]['issuer'] is defined or include_no_cert == 'True' %}
        <tr>
            <td>{{hostvars[host]['inventory_hostname']}}</td>
            <td>{{hostvars[host]['ansible_distribution']|default("none")}}</td>
            <td>{{hostvars[host]['ansible_distribution_version']|default("none")}}</td>
            <td>{{hostvars[host]['issuer']|default("none")}}</td>
            <td>{{hostvars[host]['expiration']|default("none")}}</td>
            {% if hostvars[host]['expired']|default("false") == true %}
            <td bgcolor = "red">{{hostvars[host]['expire_days']|default("none")}}</td>
            {% elif hostvars[host]['expire_days']|default("5000") | int < num_days_to_warn | int %}
            <td bgcolor = "yellow">{{hostvars[host]['expire_days']|default("none")}}</td>
            {% else %}
            <td>{{hostvars[host]['expire_days']|default("0")}}</td>
            {% endif %}
        </tr>
{% endif %}
{% endfor %}
    </tbody>
</table>
<center><p>Created with Ansible on {{hostvars[ansible_play_hosts[0]].ansible_date_time.iso8601}}</p></center>
<script type="text/javascript">
function tableToCSV() {

    // Variable to store the final csv data
    var csv_data = [];

    // Get each row data
    var rows = document.getElementsByTagName('tr');
    for (var i = 0; i < rows.length; i++) {

        // Get each column data
        var cols = rows[i].querySelectorAll('td,th');

        // Stores each csv row data
        var csvrow = [];
        for (var j = 0; j < (cols.length); j++) {

            // Get the text data of each cell of
            // a row and push it to csvrow
            csvrow.push(cols[j].textContent.replace(/,/g, " "));

       }
       csv_data.push(csvrow.join(","));
}

    // combine each row data with new line character
    csv_data = csv_data.join('\n');

    // Call this function to download csv file
    downloadCSVFile(csv_data);
}
function downloadCSVFile(csv_data) {

    // Create CSV file object and feed our
    // csv_data into it
    CSVFile = new Blob([csv_data], { type: "text/csv" });

    // Create to temporary link to initiate
    // download process
    var temp_link = document.createElement('a');
    var todayDate = new Date().toISOString().slice(0, 10);

    // Download csv file
    temp_link.download = "certificatereport-" + todayDate + ".csv";
    var url = window.URL.createObjectURL(CSVFile);
    temp_link.href = url;

    // This link should not be displayed
    temp_link.style.display = "none";
    document.body.appendChild(temp_link);

    // Automatically click the link to trigger download
    temp_link.click();
    document.body.removeChild(temp_link);
}
</script>
</body>
</html>